@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family:cormorantgaramond-light,cormorantgaramond,cormorant garamond,serif;
}
p
{
    font-size: 19px;
    text-align: justify;
    line-height: 20px;
}
ul>li
{
    font-size: 19px;
    line-height: 20px;
}
.colortxt
{
    color: #a10000;
}
.section1
{
    padding: 20px 0px 20px 0px;
}
.section1_row h3
{
    color: #a10000;
}
.heading
{
    font-size: 60px;
}
.section2
{
    padding: 25px 0px 25px 0px;
}
.section3
{
    padding: 25px 0px 25px 0px;
}
.section4
{
    padding: 25px 0px 25px 0px;
}
.section5
{
    padding: 25px 0px 25px 0px;
}
.section6
{
    padding: 25px 0px 25px 0px;
}
.clients_section
{
    padding: 25px 0px 25px 0px;
}
.leadership_section
{
    padding: 25px 0px 40px 0px;
}
.know_more
{
    text-decoration: none;
    color: #a10000;
}
.know_more:hover
{
    color: #a10000;
}
.leader_card
{
    padding: 20px;
    box-shadow: 5px 5px 5px lightgrey;
    border-radius: 20px;
}
.blogs_section
{
    padding: 20px 0px 20px 0px;
}
.blog_bg
{
    background-image: url(../img/blog_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.blogs_section h5
{
    /* background-color: #a10000; */
    padding:12px;
    margin-top: 10px;
    color: #000;
}
.blogs_section .card
{
    border: none;
    background: none;
}
input {
    border: none;
    /* font-family: 'Lato', sans-serif; */
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
}
textarea {
    /* font-family: 'Lato', sans-serif; */
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
}
.form-content{
    margin-top:32px;
	padding-left:50px;
	border-left: 1px solid #a10000;
	margin-left: 40px;
}
.footer_links p
{
    margin-top: 10px;
}
.footer_links ul li 
	{
		margin-top: 10px;
	}
	.footer_social p
	{
		margin-top: 20px;
	}
	.footer_social ul li 
	{
		margin-top: 20px;
	}

    .team-social1 li {
        margin:0 auto;
        list-style: none;
        text-align:center; 
        display: inline-block;
        cursor:pointer;
    }
    
    .team-social1 li.icon-team1 a {
        font-family: 'FontAwesome';
        font-size: 16px;
        line-height: 16px;
        margin:0 auto;
        text-align:center;
        /* padding-left:15px; */
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        transition: all 300ms linear; 
    }
   
    .team-social1 li:hover.icon-team1 a{
        opacity:.6;}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    height: 38px;
    background-color: #a10000;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.footer_section
{
    padding: 40px 0px 40px 0px;
}
.line
{
    border-bottom: 1px solid #000;
}
.footer_section ul 
{
  padding-left: 0px;
}

#menu-wrap{
    position: fixed;
	padding-bottom:10px;
	width: 18%;
	z-index:500;
	top:0;
	right:0;
}

.menu-back{
	background:rgba(250,250,250,0);
}


.cbp-af-header {
	-webkit-transition : all 0.5s ease-out;
	-moz-transition : all 0.5s ease-out;
	-o-transition :all 0.5s ease-out;
	transition : all 0.5s ease-out;
}

.cbp-af-header.cbp-af-header-shrink {
	background:rgba(250,250,250,1);
	-webkit-transition : all 0.5s ease-out;
	-moz-transition : all 0.5s ease-out;
	-o-transition :all 0.5s ease-out;
	transition : all 0.5s ease-out;
}
.cbp-af-header.cbp-af-header-shrink .logo{
	width:116px;
	height:60px;
	background:url('../images/logo1.png') no-repeat center center;
	background-size:116px 60px;
	-webkit-transition : all 0.5s ease-out;
	-moz-transition : all 0.5s ease-out;
	-o-transition :all 0.5s ease-out;
	transition : all 0.5s ease-out;
}

.cbp-af-header.cbp-af-header-shrink ul.slimmenu {
	margin-top:1px;
	margin-bottom:0;
	-webkit-transition : all 0.5s ease-out;
	-moz-transition : all 0.5s ease-out;
	-o-transition :all 0.5s ease-out;
	transition : all 0.5s ease-out;
}
.cbp-af-header.cbp-af-header-shrink ul.slimmenu li:first-child {
	background:none;
}
.cbp-af-header.cbp-af-header-shrink ul.slimmenu li ul li:first-child { 
	background:none; }
	
.cbp-af-header.cbp-af-header-shrink ul.slimmenu li a {
    color: #606060;
}	
	
	
	
	
ul.slimmenu li ul li a {
    color: #000;
}
ul.slimmenu li ul li { 
	background:none;
	padding-left:0; }
ul.slimmenu li ul {
	background:rgb(217 168 156 /90%);;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 530px;
}

h5
{
    font-size: 19px;
}



.logo img{
	position:absolute;
	width: 25%;
    z-index: 10000;
    left: 10%;
    top: 5%;
	background-repeat: no-repeat;
    background-size: contain;
	-webkit-transition : all 0.5s ease-out;
	-moz-transition : all 0.5s ease-out;
	-o-transition :all 0.5s ease-out;
	transition : all 0.5s ease-out;
}



.menu-collapser {
    position: relative;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button {
    position: absolute;
    right: 8px;
    top: 50%;
    width: 40px;
    background-image: linear-gradient(to bottom, #151515, #040404);
    background-repeat: repeat-x;
    border-style: solid;
    border-width: 1px;
    color: #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 14px;
    text-align: center;

    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button:hover, .collapse-button:focus {
    background-image: none;
    background-color: #040404;
    color: #FFF;
}
.collapse-button .icon-bar {
    background-color: #fff;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
}

ul.slimmenu {
	padding-top:10px;
	padding-right:10px;
	text-align:right;
	margin-top:13px;
	margin-bottom:10px;
	-webkit-transition : all 0.5s ease-out;
	-moz-transition : all 0.5s ease-out;
	-o-transition :all 0.5s ease-out;
	transition : all 0.5s ease-out;
	display: inline-grid;
}
ul.slimmenu li a:before{
	content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    /* background-color: #69b6d5; */
    border: 1px solid #a10000;
    position: absolute;
    right: -6px;
    top: 12px;
}
ul.slimmenu li .active:before{
	background-color: #a10000;
}
ul.slimmenu li:hover a:before{
	background-color: #a10000;
}
ul.slimmenu li {
    position: relative;
    display: inline-block;
	background:url('../images/line.html') 0 14px no-repeat;
	background-size:15px 10px;
	padding-left:20px;
}

ul.slimmenu > li:first-child { border-left: 0; }
ul.slimmenu > li:last-child { margin-right: 0 }
ul.slimmenu li a {
    display: block;
    color: #000;
    padding:3px 0px;
	cursor:pointer;
    margin: 0px 12px;
	/* font-family: 'Lato', sans-serif; */
	/* font-weight:700; */
	text-transform:uppercase;
    border-bottom:1px solid rgba(0,0,0,0);
    font-size:20px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
    margin-left: -50px;
}
ul.slimmenu li a:hover {
    text-decoration: none;
}

ul.slimmenu li:first-child {
	background:none;
}

ul.slimmenu li .sub-collapser {
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 100%;
    z-index: 999;
    cursor: pointer;
}
ul.slimmenu li .sub-collapser:before {
	display:none;
}
ul.slimmenu li .sub-collapser > i {
	display:none;
}
ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
}
ul.slimmenu li ul a{
    font-size:16px;
    color: #000;
}
ul.slimmenu li ul li:first-child { 
	background:none; }
ul.slimmenu li ul li {
	background:none;
	padding-left:0; }
ul.slimmenu li > ul {
    display: none;
    position: absolute;
	text-align:left;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 150%;
}
ul.slimmenu li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
}
ul.slimmenu.collapsed {
	padding:0;
	margin:0;
}
ul.slimmenu.collapsed li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.slimmenu.collapsed li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li .sub-collapser {
    height: 40px;
}
ul.slimmenu.collapsed li > ul {
    display: none;
    position: static;
}

/* #Home
================================================== */

#home{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	/* background:#323232; */
	z-index:2;
}


.home-big-text {
	position:absolute;
	top:60%;
	margin-top: -70px;
	left:10%;
	width:100%;
	/* font-family: 'Alice', serif !important; */
	font-size:50px; 
	line-height:64px;
	color:#fff;
	z-index:100;
}
.home-small-text {
	position:absolute;
	top:57%;
	margin-top: -90px;
	left:10%;
	width:100%;
	/* font-family: 'Lato', sans-serif; */
	/* font-weight:700; */
	letter-spacing:4px;
	text-transform:uppercase;
	font-size: 40px; 
	line-height:14px;
	color: #fff;
	z-index:100;
}
/* .bg-color
{
    background: #ffe3dd;
  opacity: 1;
} */
.scroll
{
    text-decoration: none;
}
.footer_copy
{
    /* padding: 10px 0px 10px 0px; */
    background-color: #E9E9E9;
}
footer
{
    background-color: #e9e9e9;
}
.prodigit
{
    text-align: right;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }
  
  /* The Close Button */
  .close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
  }
  .close1 {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
  }
  .close2 {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .close1:hover,
  .close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .knowmore_btn
  {
    color: #a10000;
    font-size: 19px;
  }
  .knowmore_btn:hover
  {
    cursor: pointer;
    color: #a10000;
    text-decoration: none;
  }
  .owl-prev span
  {
    
   
  }
  .owl-prev
  {
    width: 25px;
    height: 25px;
  }
  .scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.client_logo
{
    border:1px solid #000;
}
.form-control
{
    border: 1px solid #a10000;
}
.circle
{
    background-color:#a100009f;
    border-radius: 100%;
    color: white;
    position: absolute;
    top:58%;
    padding:34px 26px;
}
.slimenu ul li a
{
    font-family: 'Montserrat', sans-serif;
}
.form-content strong
{
    /* font-family: 'Montserrat', sans-serif; */
    text-decoration: underline;
}
/* .form-content p
{
    font-family: 'Montserrat', sans-serif;
}
.form-content a
{
    font-family: 'Montserrat', sans-serif;
} */
/* .form-group label
{
    font-family: 'Montserrat', sans-serif;
} */
.submit_btn
{
    text-align: center;
    background: #a10000;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    margin-top:15px;
    /* font-family: 'Montserrat', sans-serif; */
}
.submit_btn:hover
{
    color: #fff;
}
.contact_banner
{
    background-image: url(../img/contact_banner.jpg);
    height: 100vh;
    /* background-position: center; */
    background-size: cover;
}
.about_banner
{
    background-image: url(../img/about_banner.jpg);
    height: 100vh;
    /* background-position: center; */
    background-size: cover;
}
.nav_ul
{
    list-style-type:none;
    text-align:right;
    margin-top: 50px;
}
.nav_ul a
{
    text-decoration: none;
    color: #000;
}
.nav_ul li 
{
    width: 100px;
}




body {
    background-color: #fff;
    font-size: 14px;
  }
  nav {
    
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    /* Sub Menu */
    position: relative;
  }
  nav ul li a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    padding-left: 35px;
  }

  nav ul li a .fa {
    width: 16px;
    text-align: center;
    margin-right: 118px;
    float: right;
    margin-top: -30px;
    color: #a10000;
  }
 
  nav ul li ul li a {
    text-align: right;
        padding-left: 10px;
  }

  
    .slimmenu-01 li .active:before {
        background-color: #a10000;
    }
    ul.slimmenu-01 li:hover a:before{
    	background-color: #a10000;
    }
    ul.slimmenu-01 li:hover .child-ul a:before{
    	background-color: transparent;
    }
    ul.slimmenu-01 .child-ul li:hover a:before{
    	background-color: #a10000;
    }
    
    .slimmenu-01 li a:before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        /* background-color: #69b6d5; */
        border: 1px solid #a10000;
        position: absolute;
        right: 45px;
        top: 17px;
    }
  /* .alice
  {
    font-family: 'Alice', serif;
  }
  .monserrat
  {
    font-family: monserrat, sans-serif;
  } */
 .slimmenu-01 li a:hover
 {
    color: #000;
 }
 /* .glass_antiqua
 {
    font-family: 'Glass Antiqua', cursive;
 } */
 
 .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
     color: #000 !important;
 }
 .nav-link{
     color: #000;
 }
 
 
 @media (max-width: 767px){
    .header-pad{
        padding: 0 15px !important;
    }
    .navbar-brand img {
        width: 80% !important;
    }
    .navbar-toggler{
        margin-left: auto;
        margin-top: -45px;
    }
 }

 .leader_card a
{
    text-decoration: none;
}
.navbar-dark .navbar-toggler-icon
{
    background-image: url(../img/download.svg);
}